*{
    font-family: Arial, Geneva, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- Setting the general styling ---*/

body{
    background-color: #30475e;
}

#header{
    color: white;
    text-align: center;
    margin: 40px;
}

.row{
    width: 100%;
}

div.row > div{
    padding: 20px;
}

.itemcard{
    position: relative;
    background-color: #fbc687;
    border: 2px solid black;
}

.itemcard > p {
    clear: both;
    margin: 20px;
}

.card-title{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    right: 0;
    float: right;
    font-weight: bold;
}

/* set card title bg colours*/
#chicken{
    background-color: #ec8166;
}
#beef{
    background-color: #f1935c;
}
#sushi{
    background-color: #cf81a2;
}

/*--- Making it responsive ---*/

/*--- For Tablet ---*/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
        padding: 20px;
    }

    .col-md-6{
        width: 50%;
    }

    .col-md-12{
        width: 100%;
    }
}

/*--- For Desktop ---*/
@media (min-width: 992px){
    .col-lg-4{
        width: 33.33%;
        float: left;
        padding: 20px;
    }
}