*{
    font-family: Arial, Geneva, Helvetica, sans-serif; 
}

/*--- Setting the general styling ---*/

.row{
    width: 100%;
}

#header{
    text-align: center;
    margin: 40px;
}

.itemcard{
    position: relative;
    background-color: lightgrey;
    border: 2px solid black;
}

.itemcard > p {
    clear: both;
    margin: 20px;
}

.card-title{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    right: 0;
    float: right;
    font-weight: bold;
}

/* set card title bg colours*/
#chicken{
    background-color: red;
}
#beef{
    background-color: orange;
}
#sushi{
    background-color: yellow;
}

/*--- Making it responsive ---*/

/*--- For Tablet ---*/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
    }

    .col-md-6{
        width: 50%;
    }

    .col-md-12{
        width: 100%;
    }
}

/*--- For Desktop ---*/
@media (min-width: 992px){
    .col-lg-4{
        width: 33%;
        float: left;
    }
}